/*======================
    Google Font
========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
/* font-family: 'Poppins', sans-serif; */

/*======================
    Theme Settings
========================*/
:root {
    --primary-bg: #2D25A0;
    --secondary-bg: #ffffff;
}


/*======================
    Reset CSS
========================*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background: var(--secondary-bg);
}


/*======================
    Reusable CSS
========================*/

.btn {
    display: inline-block;
    padding: 10px 24px;
    background: #E02C6D;
    color: #ffffff;
    align-items: center;
    border: none;
    text-decoration: none;
}
.btn > span {
    margin-right: 8px;
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container {
    width: 992px;
}
/*======================
    Header CSS  
========================*/
header {
    background: transparent;
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;

}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header>i {
    display: none;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
nav>ul>li {
    margin-right: 30px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #fff;
}



/*======================
    Top Banner CSS  
========================*/

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}



.top-banner {
    background: var(--primary-bg);
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-banner:hover .top-banner__content__img {
    transform: scale(1.2);
}

.top-banner__content {
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-banner__content__text>h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 20px;
}

.top-banner__content__img {
    width: 100%;
    transition: 1s;
}


/*======================
    Players Grid CSS  
========================*/

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-row-gap: 27px;
    
}

.player {
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img {
    width: 100%;
}

.player__name {
    font-size: 28px;
    color: #18191F;
    margin-bottom: 10px;

}

.player__details {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    margin-top: 0px;
}

/*======================
    Highlight Section CSS  
========================*/

.highlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 66px;
}

.highlight__content>h2 {
    font-size: 48px;
    font-weight: 700px;
    color: #0A0826;
    Line-height: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.highlight__content>p {
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 24px;;
}

.highlight>img {
    width: 100%;
}


/*======================
    Latest News CSS  
========================*/

.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    grid-row-gap: 30px;
}

.news-item {
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.news-item>img {
    width: 100%;
}

.news-item h2 {
    font-size: 20px;
    color: #18191F;
    margin-bottom: 10px;
}
.news-item p {
    font-size: 14px;
    font-weight: 400;
    color: #6C6C6C;
    margin-top: 0px;
}

.news-item>.btn {
    background: transparent;
    padding: 0;
    margin: 0;
    color: #E02C6D;
    font-size: 14px;
}

/*======================
    Giveway CSS  
========================*/

.giveway {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

.giveway-title {
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

.giveway-description {
    color: #6C6C6C;
    
}

.giveway form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
}

.giveway input {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #6C6C6C;
    height: 40px;
    margin-bottom: 20px;
    
}
.giveway>form>button {
    font-size: 16px!important;
}

/*======================
    Footer CSS  
========================*/

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer>img {
    height: 110px;
    width: 485px;
    margin-bottom: 20px;
}

.icon-box i {
    color: #8e8e8e;
    background: #e7e7e8;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.copywrite {
    font-size: 18px;
}

/*======================
    Responsive CSS  
========================*/

@media only screen and (max-width: 640px) {
    .section-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    /* Header Css */

    .top-header {
        margin-left: 10px;
        margin-right: 10px;
    }
    .top-header nav {
        display: none;
    }
    
    .top-header>i {
        display: block;
        color: #fff;
        font-size: 26px;
    }

    /* Top Banner CSS */
    .container {
        width: 100%;
        /* padding-left: 20px;
        padding-right: 20px; */
    }

    .top-banner {
        height: 100%;
        padding-bottom: 50px;
    }

    .top-banner__content {
        grid-template-columns: 1fr;
        height: 700px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .top-banner__content__text {
        padding-top: 50px;
    }

    .top-banner__content__text>h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .top-banner__content__img {
        height: 100%;
        width: 100%;
    }


    /* Players CSS  */

    .players {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        grid-row-gap: 27px;
        justify-content: center;
        
    }

    .player {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Highlight Section CSS  */
    .highlight {
        grid-template-columns: 1fr;
    }
    
    .highlight__content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .highlight__content>h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .highlight__content>p {
        
    }
    
    .highlight>img {
        width: calc(100% - 40px);
        margin: auto;
    }

    /* Latest News Section  */

    .news {
        grid-template-columns: 1fr;
    }

    .latest-news__title {
        margin-left: 20px;
    }
    
    .news-item {
        margin-left: 10px;
        margin-right: 10px;
    }
    .news-item>img {
        width: 100%;
    }
    
    
    /* Giveway Section CSS  */

    .giveway {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    
    .content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .giveway>form {
        margin-left: 20px;
        margin-right: 20px;

    }
    .giveway-title {
        font-size: 30px;
        padding: 0px;
        margin: 0px;
    }
    
    /* Footer CSS  */
    footer>img {
        width: calc(100% - 60px);
        
    }

}

@media only screen and (min-width: 640px) and (max-width: 800px) {
    .container {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .players {
        grid-template-columns: 1fr 1fr;
    }
}